body {
    margin: 300px;
    margin-top: 50px;
    text-align: left;
}

table {
    font-family: 'Times New Roman', sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 7px;
  }

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

th{
  color: grey;
  }

.grupos{
    text-align: justify;
}

.tabela{
  overflow-x: auto;
}

.primeiroLugar{
  border-left: 5px solid blue;
}

.segundoLugar{
    border-left: 5px solid orangered;
}

#imgLogo{
    max-width: 25px;
    max-height: 25px;
    border-radius: 60% !important;
}

#imgCheck{
    max-width: 25px;
    max-height: 25px;
    border-radius: 60% !important;
}

#imgGols{
  max-width: 20px;
  max-height: 20px;
  border-radius: 60% !important;
}

.nomeClubeGols{
  color: grey;
}

.gols{
  overflow-x: auto;
}

