body {
    margin: 400px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: left;
    background-color: #e2e2e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}


table {
    border-collapse: collapse;
    width: 100%;
    padding: 7px;
}


th, td {
    padding: 8px;
    padding-left: 24px;
    border-bottom: 1px solid #ddd;
}

th{
  color: grey;
}


.cabecalho{
  background-color: #162E58;
  min-height: 100px;
  padding: 20px 50px 10px 50px;
}

#tituloDoCabecalho{
  color: white;
  float: left;
  min-width: 50%;
  font-size: 16px;
  text-align: left;
}

#classificacao{
  background-color: white;
  overflow-x: auto;
  }

.grupos{
    text-align: justify;
}

.tabela{
  overflow-x: auto;
}

.primeiroLugar{
  border-left: 8px solid blue;
}

.segundoLugar{
    border-left: 8px solid orangered;
}

#imgLogo{
    max-width: 25px;
    max-height: 25px;
    border-radius: 60% !important;
}

#imgCheck{
    max-width: 25px;
    max-height: 25px;
    border-radius: 60% !important;
}

#imgGols{
  max-width: 20px;
  max-height: 20px;
  border-radius: 60% !important;
}

.nomeClubeGols{
  color: grey;
}

#gols{
  background-color: white;
  overflow-x: auto;
}

.partidas{
  background-color: white;
  overflow-x: auto;
}

#oitavasDeFinal{
  width: 100%;
}

#oitavasDeFinal td, #oitavasDeFinal tr {
  border: 3px solid #e2e2e2;
}

.button{
  position: relative;
  text-decoration: none;
  background-color: #162E58;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h2, h3 {
  padding-left: 16px;
}

.placar{
  float: left; 
  width: 50%;
}

.final{
  float: left; 
  width:25%;
}

.fim{
  color: grey;
  text-align: center;
}

.diaDaSemana{
  text-align: center;
}

.gols span{
  float: right;
  margin-right: 40px;
}

.gols{
  float: left; 
  width:25%;
}